/*Estilos Globales*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Variables de coleres y demas*/
:root{
    --primary-color: #00072D;
    --secundary-color: #001C55;
    --tertiary-color: #0A2472;
    --quarternary-color: #0E6BA8;
    --quinary-color: #FFFFFF;
    --senary-color: #C9002B;
}
/*Eliminacion del Scroll*/
::-webkit-scrollbar{
    display: none;
}
/*Estilos Generales del HTML*/
html{
    font-family: 'Baloo 2', cursive;
    font-size: 62.5%;
}
/*Estilos Generales del Body*/
body{
    background-color: var(--tertiary-color);
}
/*-----------------------------Estilos del Header----------------------------*/
header{
    width: 100vw;
    height: 100px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secundary-color);
    box-shadow: 0px 5px 10px 0px var(--primary-color);
}
/*---------------Estilos para el Logor--------------*/
#LogoTablet{
    display: none;
}
#LogoMobile{
    display: none;
}
.logo{
    z-index: 20;
    width: 240px;
    height: 100px;
    padding: 10px;
    margin-left: 30px;
}
.logo img{
    width: 220px;
    height: 80px;
}
/*---------------Estilos del Nav-------------*/
nav{
}
.nav{
    font-size: 2.4rem;
}
.nav ul{
    display: flex;
}
.nav ul li{
    list-style-type: none;
}
.nav ul li a{
    display: block;
    padding: 0 20px;
    color: var(--quinary-color);
    text-decoration: none;
    cursor: pointer;
    border-left: 3px solid var(--quinary-color);
}
.nav ul li a:hover{
    color: var(--primary-color);
    background-color: var(--senary-color);
}
#Activo{
    color: var(--primary-color);
    background-color: var(--senary-color);
}
/*----------------------------Deshabilitación de funciones en movil------------------------*/
#check{
    display: none;
}
#check2{
    display: none;
}
#menuN{
    display: none;
}
#menuA{
    display: none;
}
/*-------------------------Bienvenida------------------------*/
.contenedor{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 40px;
}
.contenedor .collage{
    width: 50%;
}
.collage img{
    display: block;
    width: 500px;
    height: 500px;
    margin: auto;
    box-shadow: 0px 0px 20px 20px rgba(0, 7, 45, 0.5);
    border-radius: 50px;
}
.contenedor .bienvenida{
    display: block;
    width: 50%;
    text-align: center;
    color: var(--quinary-color);
}
h1{
    font-size: 8rem;
    line-height: 10rem;
}