/* YA NO SE TOCA"/
/*Estilos Globales*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*Variables de coleres y demas*/
:root{
    --primary-color: #00072D;
    --secundary-color: #001C55;
    --tertiary-color: #0A2472;
    --quarternary-color: #0E6BA8;
    --quinary-color: #A6E1FA;
}
/*Estilos Generales del HTML*/
html{
    font-family: 'Baloo 2', cursive;
    font-size: 62.5%;
}
/*Estilos Generales del Body*/
body{
    z-index: 0;
    background-color: var(--tertiary-color);
}
/*-----------------------------Estilos del Header----------------------------*/
header{
    width: 100vw;
    height: 80px;
    z-index: 20;
    background-color: var(--secundary-color);
    box-shadow: 0px 5px 10px 0px var(--primary-color);
    display: relative;
}
/*---------------Estilos para el Logor--------------*/
#LogoTablet{
    display: none;
}
#LogoDesktop{
    display: none;
}
header .logo{
    z-index: 20;
    width: 190px;
    height: 80px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
header .logo img{
    width: 170px;
    height: 60px;
}
header .logo a{
    width: 0px;
    height: 0px;
    cursor: pointer;
    display: block;
}
/*---------------Estilos del Nav-------------*/
#uno{
    width: 75vw;
    height: 100vh;
    z-index: 30;
    background-color: var(--primary-color);
    box-shadow: 25vw 0px 0px 0px #001C5580;
    font-size: 2.5rem;
    position: fixed;
    display: flex;
    left: -1000px;
    transition:all 0.2s step-end;
}
.nav ul{
    width: 200px;
    margin: 80px auto;
    flex-direction: column;
}
.nav ul li{
    list-style-type: none;
    border-bottom: 2px solid var(--quinary-color);
}
.nav ul li a{
    padding-top: 10px;
    padding-left: 5px;
    color: var(--quinary-color);
    text-decoration: none;
    cursor: pointer;
    display: block;
}
.nav ul li a:hover{
    color: var(--primary-color);
    background-color: var(--quinary-color);
}
/*Estilos de los Iconos de Menu*/
.menuN{
    display: none;
    width: 80px;
    height: 80px;
    position: absolute;
    transition:all 2s step-end;/*Error, o afecta el funcionamiento, no se ejecuta en el tiempo dado*/
    left: 75vw;
    position: fixed;
}
.menuN img{
    width: 60px;
    height: 60px;
    padding: 10px 10px; 
    margin: 10px 10px;
    border-radius: 30%;
    border: 1px solid var(--quinary-color);
}
/* el menu base*/
.menuA{
    z-index: 31;
    width: 80px;
    height: 80px;
    position: absolute;
    transition: all 0.4s ease;
}
.menuA img{
    width: 60px;
    height: 60px;
    padding: 10px 10px;
    margin: 10px 10px;
    border-radius: 30%;
    border: 1px solid var(--quinary-color);
}

#check{
    display: none;
}
#check:checked ~ #uno{
    left: 0px;
}
#check:checked ~ #menuN{
    display: block;
}
#check:checked ~ #menuA{
    z-index: 0;
}
#check2{
    display: none;
}
#check2:checked ~ #uno{
    left: -1000px;
}
#check2:checked ~ #menuA{
    z-index: 31;
}
#check2:checked ~ #menuN{
    display: none;
}
/*-------------------------Bienvenida------------------------*/
.contenedor{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.contenedor img{
   width: 500px;
   height: 500px;
}
.contenedor .bienvenida{
   display: block;
   width: 500px;
   margin: 50px;
   color: var(--quinary-color);
   font-size: 3.6rem;
   text-align: center;
}
h1{
    color: var(--quinary-color);
}



