/*Presentación*/
.container{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-top: 20px;
   align-items: center;
}
.container .img-ernesto img{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    box-shadow: 5px 5px 10px 0px var(--primary-color);
}
.texts{
    width: 300px;
    margin-top: 20px;
    color: var(--quinary-color);
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column;
}
.texts .ernesto{
    width: 220px;
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 4rem;
}
.texts .description{
    margin-top: 20px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: lighter;
}
.container .alien img{
    width: 150px;
    margin-top: 20px;
}
/*De dónde soy*/
.p1{
    width: 100vw;
    border-radius: 10px;
    background-color: var(--quarternary-color);
    box-shadow: 0px 10px 20px 0px rgba(0, 7, 45, 0.5);
}
.p1 .pregunta1{
    width: 100%;
    height: 180px;
    padding-top: 15px;
    margin-top: 20px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.p1 .pregunta1 img{
    width: 100%;
    height: 180px;
    max-width: 360px;
    border-radius: 5px;
}
.p1 .pregunta1 h3{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.8rem;
    background: rgba(10, 36, 114, 0.8);
    margin-bottom: 10px;
}
.p1 .respuesta1{
    width: 100vw;
}
.p1 .respuesta1 p{
    width: 300px;
    margin: 0 auto;
    padding: 75px 0px 20px 0px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.5rem;
}
/*A dónde voy*/
.p2{
    width: 100vw;
    margin-top: 80px;
    border-radius: 10px;
    background-color: var(--quarternary-color);
    box-shadow: 0px 10px 20px 0px rgba(0, 7, 45, 0.5);
}
.p2 .pregunta2{
    width: 100%;
    height: 180px;
    display: flex;
    flex-flow: wrap;
    padding-top: 15px;
    margin-top: 80px;
    justify-content: center;
}
.p2 .pregunta2 h3{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.8rem;
    background: rgba(10, 36, 114, 0.8);
}
.p2 .pregunta2 img{
    width: 100%;
    height: 180px;
    max-width: 360px;
    border-radius: 5px;
}
.p2 .respuesta2{
    width: 100vw;

}
.p2 .respuesta2 p{
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 65px 0px 20px 0px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.5rem;
}
/*Habilidades*/
.Habilidades{
    border-radius: 10px;
    margin-top: 80px;
    width: 100vw;
    background-color: var(--quarternary-color);
    box-shadow: 0px 10px 20px 0px rgba(0, 7, 45, 0.5);
    position: relative;
}
.Habilidades h3{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.8rem;
    background: rgba(10, 36, 114, 0.8);
    top: 30px;
}
.Habilidades .Icons{
    width: 300px;
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}
.Habilidades .Icons img{
    width: 100px;
    padding: 20px;
}
/*Aptitudes*/
.Aptitudes{
    border-radius: 10px;
    margin: 80px 0;
    width: 100vw;
    background-color: var(--quarternary-color);
    box-shadow: 0px 10px 20px 0px rgba(0, 7, 45, 0.5);
    position: relative;
}
.Aptitudes h3{
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 3.8rem;
    background: rgba(10, 36, 114, 0.8);
    top: 30px;
}
.Aptitudes ul{
    width: 150px;
    padding-top: 100px;
    padding-bottom: 10px;
    margin: 0 auto;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 4rem;
    text-align: left;
}