*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --blue: #13219A;
    --strong-blue: #1900B2;
}
html{
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(0, 23, 232, 0.35), rgba(0, 23, 232, 0.35)), url('https://i.ibb.co/7RMRHny/pexels-andre-3579433.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
    background-position: center;
}
.menu, .close{
    display: none;
}
.top{
    width: 86%;
    height: 60px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 20px;
}
.language{
    padding: 3px;
    display: block;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
}
.language .spanish{
    padding: 2px;
    display: inline-block;
    cursor: pointer;
}
.language .english{
    padding: 2px;
    display: inline-block;
    cursor: pointer;
}
.language_selected{
    color: var(--strong-blue);
}
.nav{
    display: flex;
    flex-flow: row;
    list-style: none;
}
.nav li a{
    text-decoration: none;
    margin-left: 40px;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    cursor: pointer;
}
.main_header{
    width: 90%;
    height: 300px;
    display: flex;
    flex-flow: row;
    align-self: center;
    align-items: center;
    position: absolute;
    color: white;
}
.main_header .image{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.main_header .image img{
    width: 300px;
    height: 300px;
    border-radius: 300px;
}
.main_header .space{
    width: 5%;
    height: 100%;
}
.main_header .content_header{
    width: 55%;
    font-size: 1.5rem;
    font-weight: 400;
}
@media screen and (min-width: 1500px){
    .main_header .content_header{
        width: 40%;
        font-size: 1.5rem;
        font-weight: 400;
    }
}
.content_header h3{
    font-size: 2rem;
    font-weight: 400;
}
.content_header h1{
    color: var(--strong-blue);
    font-size: 2.8rem;
    font-weight: 700;
}
.content_header .media_links{
    width: 100%;
    height: 60px;
    margin-top: 5px;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
}
.media_links img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    cursor: pointer;
}
.media_links .download_cv{
    font-size: 1rem;
    line-height: 20px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: rgba(256, 256, 256, 0.7);
    background-color: var(--strong-blue);
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.media_links .contact{
    display: none;
}
section{
    width: 100%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.tables{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tables h3{
    margin: 20px 0;
    line-height: 40px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--strong-blue);
}
.tables .slide_skills{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.slide_skills .table_skills{
    width: 100%;
}
.table_skills tbody{
    width: 100%;
    height: 350px;
    display: flex;
    align-content: space-evenly;
    flex-flow: column wrap;
}
.tables tr{
    width: 30%;
    min-width: 240px;
    height: 50px;
    border-radius: 5px;
    margin: 0px 10px 20px;
    background-color: #1900B233;
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 30px #1900B233;
    display: flex;
}
.tables .skill{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tables .define{
    min-width: 165px;
    max-width: 220px;
    margin-left: 5px;
}
.skill img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.html h5{
    color: #E44D26;
}
.css h5{
    color: #264DE4;
}
.js h5{
    color: #e4c709;
}
.jquery h5{
    color: #0868AC;
}
.html h5{
    color: #E44D26;
}
.sass h5{
    color: #CB6699;
}
.bootstrap h5{
    color: #9013FE;
}
.figma h5 span:nth-child(1){
    color: #E44D26;
}
.figma h5 span:nth-child(2){
    color: #FF7262;
}
.figma h5 span:nth-child(3){
    color: #9013FE;
}
.figma h5 span:nth-child(4){
    color: #1ABCFE;
}
.figma h5 span:nth-child(5){    
    color: #0ACF83;
}
.ph h5{
    color: #23a7cf;
}
.ai h5{
    color: #FF7F18;
}
.git h5{
    color: #DE4C36;
}
.define h5{
    font-size: 15px;
    line-height: 15px;
    padding: 1px;
}
.define p{
    font-size: 14px;
    line-height: 14px;
    padding: 1px;
    color: var(--strong-blue);
}
.content_portfolio{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.content_portfolio h3{
    width: 100%;
    line-height: 40px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    color: var(--strong-blue);
}
.content_cards{
    width: auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.card{
    width: 250px;
    height: 250px;
    margin: 20px 20px;
    background-color: var(--blue);
}
.skills-contact .skills{
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: var(--blue);
}
.skills-contact .contact{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-flow: column;
}
.contact h3{
    margin: 20px 0;
    line-height: 40px;
    font-size: 2rem;
    font-weight: 500;
    color: var(--blue);
}
.contact .content_contact{
    width: 60%;
    margin: 20px 0;
}
.content_contact .section_contact{
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-flow: row;
}
.section_contact .image_contact{
    width: 20%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.section_contact .text_contact{
    width: 80%;
    margin-left: 40px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
}
.text_contact a{
    text-decoration: none;
    color: var(--blue);
}
.github_contact, .linkedin_contact{
    width: 54px;
    height: 54px;
    padding: 3px;
}
footer{
    width: 100%;
    height: 80px;
    position: relative;
    bottom: 0px;
    background-color: var(--blue);
}
.copyright{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(256, 256, 256, 0.9);
}